/* app css stylesheet */

html {
    background-color: #f0f0f0;
}

header {
    background-color: #252525;
    padding-top: 25px;
    padding-bottom: 25px;
}

header h1 {
    color: #ff2c99;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 60px;
}

.infopanels {
    padding-top: 10px;
    background-color: #f0f0f0;
}