<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Up2Day</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<!-- ng-cloak class + display : none for this class in CSS removes the brief visible angular brackets -->
<body class="ng-cloak">

<header>
    <div class="container">
        <h1 class="up2dayTitle">Up2Day
            <small class="up2daySubtitle">Discover new things everyday !</small>
        </h1>
        <a class="pull-right btn btn-raised btn-primary" data-toggle="modal" data-target="#complete-dialog"><i
                class="material-icons icon-space">settings</i>
            Settings</a>
    </div>
</header>

<section class="infopanels" ng-controller="mainController as up2day">
    <div id="complete-dialog" class="modal fade" tabindex="-1" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Settings</h4>
                </div>
                <div class="modal-body">
                    <p>Choose what you want to see !</p>
                    <div class="togglebutton">
                        <label>
                            <input type="checkbox" ng-model="up2day.switchs.weather"> Today's weather
                        </label>
                    </div>
                    <div class="togglebutton">
                        <label>
                            <input type="checkbox" ng-model="up2day.switchs.flickrImage"> Flickr Image next to you
                        </label>
                    </div>
                    <div class="togglebutton">
                        <label>
                            <input type="checkbox" ng-model="up2day.switchs.news"> News
                        </label>
                    </div>
                    <div class="togglebutton">
                        <label>
                            <input type="checkbox" ng-model="up2day.switchs.topSellingBooks"> Top selling books
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="up2day.saveInfopanels()">OK
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2><i class="material-icons md-24">today</i> {{up2day.date | date:"fullDate"}}, next to {{up2day.city}}</h2>
        <br/>
        <div class="row sortable">
            <div class="col-md-4 infopanel" ng-show="up2day.switchs.weather">
                <div class="panel panel-info" id="weather">
                    <div class="panel-heading">
                        <h3 class="panel-title">Weather<i class="material-icons md-18 pull-right">wb_sunny</i></h3>
                    </div>
                    <div class="panel-body">
                        <div ng-hide="up2day.weatherLoaded != 0" class="text-center">
                            <i class="material-icons spin">autorenew</i>
                        </div>
                        <div class="row-fluid" ng-show="up2day.weatherLoaded == 1">
                            <div class="col-md-4">
                                <img ng-src="{{up2day.weather.urlImg}}"/>
                            </div>
                            <div class="col-md-8">
                                <p>{{up2day.weather.temp}}°C<br/>
                                    {{up2day.weather.desc}}<br/>
                                    Wind : {{up2day.weather.windSpeed}} km/h</p>
                            </div>
                        </div>
                        <div ng-show="up2day.weatherLoaded == 2">
                            Failed to load weather...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 infopanel">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-md-4 infopanel">
                <div class="panel panel-warning" id="flickerImage" ng-show="up2day.switchs.flickrImage">
                    <div class="panel-heading">
                        <h3 class="panel-title">Flicker Image next to you<i class="material-icons md-18 pull-right">photo</i>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div ng-show="up2day.flickrImageLoaded == 0" class="text-center">
                            <i class="material-icons spin">autorenew</i>
                        </div>
                        <a ng-show="up2day.flickrImageLoaded == 1" ng-href="{{up2day.imageURL}}">
                            <img class="img-responsive thumbnail" ng-src="{{up2day.imageURL}}"
                                 ng-show="up2day.imageURL"/>
                        </a>
                        <div ng-show="up2day.flickrImageLoaded == 2">
                            Failed to load Flickr image...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 infopanel" ng-show="up2day.switchs.news">
                <div class="panel panel-success" id="news">
                    <div class="panel-heading">
                        <h3 class="panel-title">Top News<i class="material-icons md-18 pull-right">forum</i></h3>
                    </div>
                    <div class="panel-body">
                        <div ng-show="up2day.newsLoaded == 0" class="text-center">
                            <i class="material-icons spin">autorenew</i>
                        </div>
                        <div ng-show="up2day.newsLoaded == 1">
                            <div class="list-group" ng-repeat="x in up2day.topArticles | limitTo:5">
                                <div class="list-group-item">
                                    <div class="row-action-primary">
                                        <i class="material-icons">description</i>
                                    </div>
                                    <div class="row-content">
                                        <a href="{{x.url}}"><p class="list-group-item-text">{{x.title}}</a><br/>
                                        <small>{{x.byline}}</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="list-group-separator"></div>
                            </div>
                            <div ng-show="up2day.newsLoaded == 2">
                                Failed to load news...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 infopanel" ng-show="up2day.switchs.topSellingBooks">
                <div class="panel panel-primary" id="topSellingBooks">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best-Selling Books<i
                                class="material-icons md-18 pull-right">bookmark</i>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div ng-show="up2day.booksLoaded == 0" class="text-center">
                            <i class="material-icons spin">autorenew</i>
                        </div>
                        <div ng-show="up2day.booksLoaded == 1">
                            <uib-carousel interval="5000" no-wrap="noWrapSlides">
                                <uib-slide ng-repeat="book in up2day.topBooks | limitTo:5">
                                    <div class="col-md-offset-2 col-md-3">
                                        <a ng-href="{{book.image}}">
                                            <img class="img-responsive thumbnail" ng-src="{{book.image}}"/>
                                        </a>
                                    </div>
                                    <div class="col-md-offset-1 col-md-6">
                                        <h2>{{book.title}}<br/>
                                            <small>by {{book.author}}</small>
                                        </h2>
                                        <br/>
                                        <p>Release Date: {{book.date}}</p>
                                    </div>
                                </uib-slide>
                            </uib-carousel>
                        </div>
                        <div ng-show="up2day.booksLoaded == 2">
                            Failed to load best-selling books...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 infopanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- In production use: -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
<!-- -->
<!-- In development you could use:
<script src="bower_components/angular/angular.js"></script>
-->
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="app.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
<script src="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>
<script type="application/javascript">
    $.material.init();
</script>
</body>
</html>
