<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Up2Day</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="app.css">
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<header>
    <div class="container">
        <h1 class="up2dayTitle">Up2Day
            <small class="up2daySubtitle">Discover new things everyday !</small>
        </h1>
        <a class="btn btn-primary pull-right" href="#" role="button">Settings</a>
    </div>
</header>

<section class="infopanels" ng-controller="mainController">
    <div class="container">
        <h2>Today, the 27 January, next to {{city}}</h2>
        <br/>
        <div class="row">
            <div class="col-md-4 infopanel">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Weather</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-fluid">
                            <div class="col-md-4">
                                <img src="{{weather.urlImg}}"/>
                            </div>
                            <div class="col-md-8">
                                <p>{{weather.temp}}°C<br/>
                                    {{weather.desc}}<br/>
                                    Wind : {{weather.windSpeed}} km/h</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 infopanel">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-md-4 infopanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Top News</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-show="newsLoaded == 0">
                            Loading...
                        </div>
                        <ul ng-show="newsLoaded == 1">
                            <li ng-repeat="x in topArticles | limitTo:5">
                                <a href="{{ x.url }}">{{ x.title }}</a> {{ x.byline }}, {{ x.published_date }}
                            </li>
                        </ul>
                        <div ng-show="newsLoaded == 2">
                            Failed to load news...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 infopanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Flicker Image</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ imageURL }}" ng-show="imageURL"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 infopanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best-Selling Books</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-show="booksLoaded == 0">
                            Loading...
                        </div>
                        <div ng-show="booksLoaded == 1">
                            <uib-carousel interval="5000" no-wrap="noWrapSlides">
                                <uib-slide ng-repeat="book in topBooks | limitTo:5">
                                    <div class="col-md-4">
                                        <img ng-src="{{book.image}}" style="max-height: 100px;"/>
                                    </div>
                                    <div class="col-md-8">
                                        <p style="text-align: left">
                                            Title: {{book.title}}<br/>
                                            Author: {{book.author}}<br/>
                                            Release Date: {{book.date}}
                                        </p>
                                    </div>
                                </uib-slide>
                            </uib-carousel>
                            <!--<ul rn-carousel rn-carousel-transition="slide">
                                <li ng-cd repeat="book in topBooks | limitTo:5" ng-class="'id-' + book.id">
                                    <div class="col-md-4">
                                        <img src="{{book.image}}" style="max-height: 100px;"/>
                                    </div>
                                    <div class="col-md-8">
                                        <p>
                                            Title: {{book.title}}<br/>
                                            Author: {{book.author}}<br/>
                                            Release Date: {{book.date}}
                                        </p>
                                    </div>
                                </li>
                            </ul>-->
                        </div>
                        <div ng-show="booksLoaded == 2">
                            Failed to load best-selling books...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 infopanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- In production use: -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
<!-- -->
<!-- In development you could use:
<script src="bower_components/angular/angular.js"></script>
-->
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="app.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
